{% load staticfiles %}

<html>
    <head>
        <title>Lektorganizator</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'lektorganizator/css/lektorganizator.css' %}">
    </head>
    <body>
	<!-- NAVIGATION -->
	<nav class="navbar navbar-inverse" role="navigation">
		<ul class="nav navbar-nav">
			<li><a href="{% url "lecturer-list" %}">Lektori</a></li>
			<li><a href="{% url "article-list" %}">Lista aktivnih članaka</a></li>
			<li><a href="{% url "article-archive" %}">Arhiva</a></li>
			<li><a href="{% url "source-list"%}">Dodaj sa wiki-a</a></li>
			{% if not user or not user.is_authenticated %}
				<li><a href="{% url "login"%}">Uloguj se</a></li>
			{% else %}
				<li><a href="{% url "logout" %}">Odjavi se</a></li>
			{% endif %}
		</ul>
	</nav>
        <div class="page-header">
            <h1><a href="/">Lektorganizator</a></h1>
        </div>
	
	<div class="navigation">
		<a href={% url "lecturer-list"%}>Lista lektora</a>
	</div>

        <div class="content container">
	{% block content %}
	{% endblock %}
        </div>
    </body>
</html>
