lektorganizator/db.sqlite3
lektorganizator/app/__pycache__/*.pyc
lektorganizator/lektorganizator/__pycache__/*.pyc
lektorganizator/lektorganizator/wiki.py
lektorganizator/lektorganizator/email_settings.py
